/* line 4, app/assets/stylesheets/posts.scss */
.banner-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/* line 10, app/assets/stylesheets/posts.scss */
.banner {
  width: 100%;
}

/* line 14, app/assets/stylesheets/posts.scss */
.full-width {
  width: 100%;
}

/* line 18, app/assets/stylesheets/posts.scss */
.container {
  padding: 32px;
}

/* line 22, app/assets/stylesheets/posts.scss */
.btn-delete {
  display: inline-flex;
}
