// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.banner {
  width: 100%;
}

.full-width {
  width: 100%;
}

.container {
  padding: 32px;
}

.btn-delete {
  display: inline-flex;
}